# Server Configuration
PORT=3000
NODE_ENV=development # set to 'production' for production builds

# Database Connection
# Example: postgresql://user:password@host:port/database
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/mydb"

# Frontend URL for CORS configuration
CLIENT_URL="http://localhost:5173"
