# Server Configuration
PORT=3001
DATABASE_URL="postgresql://user:password@host:port/db"
NODE_ENV=development

# Security
JWT_SECRET="your-super-secret-jwt-key-that-is-long-and-random"

# Client Configuration
# This should be the URL of your frontend application in production
CLIENT_URL=http://localhost:5173
